h1{
    background-color: aqua;
    margin: 20px;
    text-align: center;
    border:double;
}

h3{
    background-color:dimgrey;
    text-align: center;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.icon{
    text-align:right;
    background-color: dimgrey;
}
